.header {
//  border: 1px solid red;
  background-color: rgba(0, 0, 0, 0.575);
  // height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 10px 0;
  z-index: 3;
  &__wrapper {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    // border: 1px solid red ;
  }

  

  &__list {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 100px;
    height: 100px;

    // &:hover {
    //   transform: scale(1.05);
    // }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__link {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    &:hover {
      //  font-size: 19px;
      transition: 500ms;
      color: rgba(255, 255, 255, 0.63);
    }

    &:hover {
      &::after {
        transition: 500ms;
        opacity: 1;
        display: block;
        content: "";
        border: 1px solid #fff;
        margin-top: 5px;
      }
    }

    &::after {
      opacity: 0;
      display: block;
      content: "";
      border: 1px solid #fff;
      margin-top: 5px;
    }
  }
}

.scroll_logo{
  width: 50px;
  height: 50px;
}
.black {
  background-color: #161616;
  
}

.active_mine {
  color: rgb(243, 244, 250);
  &::after {
    opacity: 1;
    display: block;
    content: "";
    border: 1px solid rgb(255, 255, 255);
    margin-top: 5px;
  }
}
